 body {

     .open-sans-bold {
         font-family: "Open Sans", serif;
         font-optical-sizing: auto;
         font-weight: 600;
         font-style: normal;
         font-variation-settings: "wdth" 100;
     }

 }

 .text-primary {

     color: #FD6E0A;
 }

 .button-primary {
     border-radius: 5px;
     background: #FD6E0A;
     border: 0;
     color: white;
     font-size: 20;
     font-weight: 700;
     padding: 15px 35px;
 }



 nav {

     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-titel {
     color: black;
     font-size: 45px;
     font-weight: 800;


 }

 nav>ul {

     display: flex;
     align-items: center;
 }

 nav li {

     list-style: none;
     margin-right: 50px;
 }

 nav a {

     text-decoration: none;
     color: black;
 }