 /* common shared style */
 body {

     .open-sans-bold {
         font-family: "Open Sans", serif;
         font-optical-sizing: auto;
         font-weight: 600;
         font-style: normal;
         font-variation-settings: "wdth" 100;
     }

 }

 .text-primary {

     color: #FD6E0A;
 }

 .button-primary {
     border-radius: 5px;
     background: #FD6E0A;
     border: 0;
     color: white;
     font-size: 20;
     font-weight: 700;
     padding: 15px 35px;
 }

 .section-titel {
     color: black;
     text-align: center;
     font-family: open sans;
     font-size: 35px;
     font-weight: 700;
     line-height: normal;
 }

 .section-description {

     color: dimgray;
     text-align: center;
     font-size: 18px;
 }

 /* nav related style */

 nav {

     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
 }

 .nav-titel {
     color: black;
     font-size: 45px;
     font-weight: 800;


 }

 nav>ul {

     display: flex;
     align-items: center;
 }

 nav li {

     list-style: none;
     margin-right: 50px;
 }

 nav a {

     text-decoration: none;
     color: black;
 }

 /* header related style */
 .header {
     background-color: antiquewhite;
     background-image: url('../images/header_bg.png');
     background-repeat: no-repeat;
     background-position: bottom right;
 }

 .banner {
     padding: 50px 50px 0px 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .banner-content {

     max-width: 500px;
 }

 .banner .profile-picture {

     width: 500px;
 }

 .banner-description {

     margin-right: 180px;
 }

 .banner-greeting {

     font-size: 45px;
     color: dimgray;
     margin-bottom: 0;
 }

 .banner-titel {
     font-size: 85px;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 20px;
 }



 /* main section styles */

 main {

     max-width: 1140px;
     margin: 0 auto;
 }

 main section {

     margin-top: 130px;
 }

 /* about section style */

 .about {

     padding: 130px;
     border-radius: 10px;
     background: rgb(248, 239, 226);
     margin-top: 50px;
     margin-bottom: 20px;
 }

 .about-info-container {

     display: flex;
     justify-content: space-around;
 }

 .about-info {
     text-align: center;
 }

 /* skills related styles */


 #what-i-do-description {
     padding: 30px 150px;
 }

 .skills-container {

     display: flex;
     gap: 24px;
 }

 .skill {
     padding: 30px;
     border-radius: 10px;
     background: #fff;
     box-shadow: 0px 6px 50px 0px rgba(17, 1, 1, 0.06);
     margin-right: 30px;

 }

 .skills-description {
     color: dimgrey;
     margin-right: 50px;
 }

 /* resume sction */

 .resume-coloum-titel {

     color: rgb(12, 12, 12);
     font-size: 30px;
     font-weight: 700;
 }

 .resume-container {

     display: flex;
     gap: 270px;
     font-style: open sans;
 }

 .resume-item-titel {

     color: dimgray;
     font-size: 20px;
     font-weight: 700;
     margin-bottom: 10px;
 }

 .rerume-item-description {

     margin-bottom: 20px;
     margin-top: 0;
 }


 .resume-item-descriptionfull {

     color: dimgray;
     margin-right: 80px;

 }

 .resume-container hr {
     margin-block: 10px;
 }


 .download-cv {

     text-align: center;
     margin-top: 50px;
 }

 /* footer section */

 footer {

     display: flex;
     background-color: rgb(248, 239, 226);
     padding: 130px 200px;
     margin-top: 100px;
     gap: 100px;
 }

 .footer-coloum {

     width: 50%;

 }
 .social-links a{
    margin-right:25px ;


 }
 .contract input[type="text"],  input[type="Email"],textarea{
display: block;
margin-bottom: 25px;
padding: 18px 35px;
color: darkgrey;
border-radius: 5px;
background: #fff;
border: 0;
width: 100%;

 }